<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Rencent</key>
	<array>
		<dict>
			<key>headPortraitStr</key>
			<string>0</string>
			<key>name</key>
			<string>Harry</string>
			<key>phone</key>
			<string>18311350888</string>
			<key>email</key>
			<string>1928370051@qq.com</string>
			<key>notes</key>
			<string>有一次，在我参加的一个晚会上，主持人问一个小男孩：你长大以后要做什么样的人？</string>
		</dict>
		<dict>
			<key>headPortraitStr</key>
			<string>1</string>
			<key>name</key>
			<string>Quinn</string>
			<key>phone</key>
			<string>18911261000</string>
			<key>email</key>
			<string>jh@xichenji.com</string>
			<key>notes</key>
			<string>并非我们不重视理想，而是因为树雄心壮志易，为理想努力难，人生自古就如此。</string>
		</dict>
		<dict>
			<key>headPortraitStr</key>
			<string>2</string>
			<key>name</key>
			<string>Olivia</string>
			<key>phone</key>
			<string>18810877520</string>
			<key>email</key>
			<string>chuangyizdh@163.com</string>
			<key>notes</key>
			<string>然而，我却没有灰心失望，回想起来，支撑着我走过这段坎坷岁月的正是我的意志品格</string>
		</dict>
		<dict>
			<key>headPortraitStr</key>
			<string>3</string>
			<key>name</key>
			<string>Kate</string>
			<key>phone</key>
            <string>13911805522</string>
			<key>email</key>
			<string>manager@hongxinqd.com</string>
			<key>notes</key>
			<string>努力是拥有之母，拥有是努力之子。一心努力可谓条条大路通罗马，只想获取可谓道路逼仄，天地窄小。所以，与其规定自己一定要成为一个什么样的人物，获得什么东西，不如磨练自己做一个努力的人。</string>
		</dict>
		<dict>
			<key>headPortraitStr</key>
			<string>4</string>
			<key>name</key>
			<string>Charlotter</string>
			<key>phone</key>
			<string>18612860111</string>
			<key>email</key>
			<string>yawei@xinyajx.com</string>
			<key>notes</key>
			<string>一切都是我们在奋斗中见机行事，一步一步努力得来的。与其说我们是有理想的人，不如说我们是一直在努力的人。</string>
		</dict>
		<dict>
			<key>headPortraitStr</key>
			<string>5</string>
			<key>name</key>
			<string>Finn</string>
			<key>phone</key>
			<string>18511131419</string>
			<key>email</key>
			<string>LYC@hzlasiji.com</string>
			<key>notes</key>
			<string>有的想当教师，后来却成了个体户；想当解放军的，有人竟做了囚犯。</string>
		</dict>
		<dict>
			<key>headPortraitStr</key>
			<string>6</string>
			<key>name</key>
			<string>Poppy</string>
			<key>phone</key>
			<string>18518357777</string>
			<key>email</key>
			<string>web@cn-pengwei.com</string>
			<key>notes</key>
			<string>这一切当然都是一个谜。但不管怎样，作为一个人的人生志向，我以为当什么并不重要；</string>
		</dict>
	</array>
	<key>Friends</key>
	<array>
		<dict>
			<key>headPortraitStr</key>
			<string>7</string>
			<key>name</key>
			<string>Eden</string>
			<key>phone</key>
			<string>13391709955</string>
			<key>email</key>
			<string>fhjxsbzzc@126.com</string>
			<key>notes</key>
			<string>我上大学时有两个同窗好友，他们现在都是我国电子行业里才华出众的人，一个成长为“康佳”集团的老总，一个领导着TCL集团。</string>
		</dict>
		<dict>
			<key>headPortraitStr</key>
			<string>8</string>
			<key>name</key>
			<string>Jenson</string>
			<key>phone</key>
			<string>13366715566</string>
			<key>email</key>
			<string>saw@cnsaw.com</string>
			<key>notes</key>
			<string>当时的我，一无所有，前途渺茫，真不知路在何处。然而，我却没有灰心失望，回想起来，支撑着我走过这段坎坷岁月的正是我的意志品格。</string>
		</dict>
		<dict>
			<key>headPortraitStr</key>
			<string>9</string>
			<key>name</key>
			<string>Stanley</string>
			<key>phone</key>
			<string>13366219966</string>
			<key>email</key>
			<string>ruihongfair@163.com</string>
			<key>notes</key>
			<string>并非我们不重视理想，而是因为树雄心壮志易，为理想努力难，人生自古就如此。有谁会想到，十多年前的今天，我曾是一个在街头彷徨，为生存犯愁的人？</string>
		</dict>
		<dict>
			<key>headPortraitStr</key>
			<string>10</string>
			<key>name</key>
			<string>Luna</string>
			<key>phone</key>
			<string>13366300002</string>
			<key>email</key>
			<string>hrc@china.com</string>
			<key>notes</key>
			<string>许多人因为给自己定的目标太高太功利，因为难以成功而变得灰头土脸，最终灰心失望。</string>
		</dict>
		<dict>
			<key>headPortraitStr</key>
			<string>11</string>
			<key>name</key>
			<string>Abbyabbie</string>
			<key>phone</key>
			<string>13366759898</string>
			<key>email</key>
			<string>735055817@qq.com</string>
			<key>notes</key>
			<string>但我以为，人生最美最不能逊色的风景应该是努力。努力是人生的一种精神状态，是对生命的一种赤子之情。</string>
		</dict>
		<dict>
			<key>headPortraitStr</key>
			<string>12</string>
			<key>name</key>
			<string>Angelia</string>
			<key>phone</key>
			<string>13366665031</string>
			<key>email</key>
			<string>491163631@qq.com</string>
			<key>notes</key>
			<string>有人说，“努力”与“拥有”是人生一左一右的两道风景。</string>
		</dict>
		<dict>
			<key>headPortraitStr</key>
			<string>13</string>
			<key>name</key>
			<string>Muhammed</string>
			<key>phone</key>
			<string>13381328899</string>
			<key>email</key>
			<string>595064131@qq.com</string>
			<key>notes</key>
			<string>这一切当然都是一个谜。但不管怎样，作为一个人的人生志向，我以为当什么并不重要；不管是谁，最重要的是从小要立志做一个努力的人。</string>
		</dict>
	</array>
</dict>
</plist>
