<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>亚洲</string>
		<key>parentId</key>
		<string>0</string>
		<key>id</key>
		<string>1</string>
		<key>level</key>
		<string>1</string>
		<key>isRoot</key>
		<true/>
		<key>isLeaf</key>
		<false/>
		<key>isExpand</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>南美</string>
		<key>parentId</key>
		<string>0</string>
		<key>id</key>
		<string>2</string>
		<key>level</key>
		<string>1</string>
		<key>isRoot</key>
		<true/>
		<key>isLeaf</key>
		<false/>
		<key>isExpand</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>澳洲</string>
		<key>parentId</key>
		<string>0</string>
		<key>id</key>
		<string>3</string>
		<key>level</key>
		<string>1</string>
		<key>isRoot</key>
		<true/>
		<key>isLeaf</key>
		<false/>
		<key>isExpand</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>中国</string>
		<key>parentId</key>
		<string>1</string>
		<key>id</key>
		<string>10</string>
		<key>level</key>
		<string>2</string>
		<key>isRoot</key>
		<false/>
		<key>isLeaf</key>
		<false/>
		<key>isExpand</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>俄罗斯</string>
		<key>parentId</key>
		<string>1</string>
		<key>id</key>
		<string>11</string>
		<key>level</key>
		<string>2</string>
		<key>isRoot</key>
		<false/>
		<key>isLeaf</key>
		<false/>
		<key>isExpand</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>巴西</string>
		<key>parentId</key>
		<string>2</string>
		<key>id</key>
		<string>20</string>
		<key>level</key>
		<string>2</string>
		<key>isRoot</key>
		<false/>
		<key>isLeaf</key>
		<false/>
		<key>isExpand</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>阿根廷</string>
		<key>parentId</key>
		<string>2</string>
		<key>id</key>
		<string>21</string>
		<key>level</key>
		<string>2</string>
		<key>isRoot</key>
		<false/>
		<key>isLeaf</key>
		<false/>
		<key>isExpand</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>澳大利亚</string>
		<key>parentId</key>
		<string>3</string>
		<key>id</key>
		<string>30</string>
		<key>level</key>
		<string>2</string>
		<key>isRoot</key>
		<false/>
		<key>isLeaf</key>
		<false/>
		<key>isExpand</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>新西兰</string>
		<key>parentId</key>
		<string>3</string>
		<key>id</key>
		<string>31</string>
		<key>level</key>
		<string>2</string>
		<key>isRoot</key>
		<false/>
		<key>isLeaf</key>
		<false/>
		<key>isExpand</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>北京</string>
		<key>parentId</key>
		<string>10</string>
		<key>id</key>
		<string>100</string>
		<key>level</key>
		<string>3</string>
		<key>isRoot</key>
		<false/>
		<key>isLeaf</key>
		<true/>
		<key>isExpand</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>上海</string>
		<key>parentId</key>
		<string>10</string>
		<key>id</key>
		<string>101</string>
		<key>level</key>
		<string>3</string>
		<key>isRoot</key>
		<false/>
		<key>isLeaf</key>
		<true/>
		<key>isExpand</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>广东</string>
		<key>parentId</key>
		<string>10</string>
		<key>id</key>
		<string>102</string>
		<key>level</key>
		<string>3</string>
		<key>isRoot</key>
		<false/>
		<key>isLeaf</key>
		<true/>
		<key>isExpand</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>深圳</string>
		<key>parentId</key>
		<string>10</string>
		<key>id</key>
		<string>103</string>
		<key>level</key>
		<string>3</string>
		<key>isRoot</key>
		<false/>
		<key>isLeaf</key>
		<true/>
		<key>isExpand</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>莫斯科</string>
		<key>parentId</key>
		<string>11</string>
		<key>id</key>
		<string>110</string>
		<key>level</key>
		<string>3</string>
		<key>isRoot</key>
		<false/>
		<key>isLeaf</key>
		<true/>
		<key>isExpand</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>新西伯利亚</string>
		<key>parentId</key>
		<string>11</string>
		<key>id</key>
		<string>111</string>
		<key>level</key>
		<string>3</string>
		<key>isRoot</key>
		<false/>
		<key>isLeaf</key>
		<true/>
		<key>isExpand</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>叶卡捷琳堡</string>
		<key>parentId</key>
		<string>11</string>
		<key>id</key>
		<string>112</string>
		<key>level</key>
		<string>3</string>
		<key>isRoot</key>
		<false/>
		<key>isLeaf</key>
		<true/>
		<key>isExpand</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>圣保罗</string>
		<key>parentId</key>
		<string>20</string>
		<key>id</key>
		<string>200</string>
		<key>level</key>
		<string>3</string>
		<key>isRoot</key>
		<false/>
		<key>isLeaf</key>
		<true/>
		<key>isExpand</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>里约热内卢</string>
		<key>parentId</key>
		<string>20</string>
		<key>level</key>
		<string>3</string>
		<key>id</key>
		<string>201</string>
		<key>isRoot</key>
		<false/>
		<key>isLeaf</key>
		<true/>
		<key>isExpand</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>布宜诺斯艾利斯</string>
		<key>parentId</key>
		<string>21</string>
		<key>id</key>
		<string>210</string>
		<key>level</key>
		<string>3</string>
		<key>isRoot</key>
		<false/>
		<key>isLeaf</key>
		<true/>
		<key>isExpand</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>悉尼</string>
		<key>parentId</key>
		<string>30</string>
		<key>id</key>
		<string>300</string>
		<key>level</key>
		<string>3</string>
		<key>isRoot</key>
		<false/>
		<key>isLeaf</key>
		<true/>
		<key>isExpand</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>伍伦贡</string>
		<key>parentId</key>
		<string>30</string>
		<key>id</key>
		<string>301</string>
		<key>level</key>
		<string>3</string>
		<key>isRoot</key>
		<false/>
		<key>isLeaf</key>
		<true/>
		<key>isExpand</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>纽卡斯尔</string>
		<key>parentId</key>
		<string>30</string>
		<key>id</key>
		<string>302</string>
		<key>level</key>
		<string>3</string>
		<key>isRoot</key>
		<false/>
		<key>isLeaf</key>
		<true/>
		<key>isExpand</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>惠灵顿</string>
		<key>parentId</key>
		<string>31</string>
		<key>id</key>
		<string>310</string>
		<key>level</key>
		<string>3</string>
		<key>isRoot</key>
		<false/>
		<key>isLeaf</key>
		<true/>
		<key>isExpand</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>奥克兰</string>
		<key>parentId</key>
		<string>31</string>
		<key>id</key>
		<string>311</string>
		<key>level</key>
		<string>3</string>
		<key>isRoot</key>
		<false/>
		<key>isLeaf</key>
		<true/>
		<key>isExpand</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>汉密尔顿</string>
		<key>parentId</key>
		<string>31</string>
		<key>id</key>
		<string>312</string>
		<key>level</key>
		<string>3</string>
		<key>isRoot</key>
		<false/>
		<key>isLeaf</key>
		<true/>
		<key>isExpand</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>罗托鲁阿</string>
		<key>parentId</key>
		<string>31</string>
		<key>id</key>
		<string>313</string>
		<key>level</key>
		<string>3</string>
		<key>isRoot</key>
		<false/>
		<key>isLeaf</key>
		<true/>
		<key>isExpand</key>
		<false/>
	</dict>
</array>
</plist>
